@media only screen and (min-width: 600px) {
  body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
  }

  lottie-player {
    width: 250px;
    height: 250px;
  }

  .gameMaster {
    align-self: center;
    width: 16rem;
    height: 11rem;
  }

  .bubbleImage {
    max-width: 160%;
    display: flex;
  }

  #textTL,
  #textTR {
    padding-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: 6%;
    color: white;
  }

  #textBL,
  #textBR {
    padding-top: 0.5rem;
    font-size: 1rem;
    letter-spacing: 6%;
    color: white;
  }

  #bubbleTL {
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    color: white;
  }

  #bubbleTR {
    display: flex;
    justify-content: center;
    margin-left: 3rem;
  }

  #bubbleBL {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 3rem;
  }

  #bubbleBR {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .rules {
    max-width: 35rem !important;
    padding-bottom: 10rem;
  }

  .rulesContent > p {
    padding: 0 2rem 0 2rem;
    letter-spacing: 2%;
  }

  .botModal {
    max-width: 35rem !important;
  }

  .botModalContent {
    padding: 20px;
    max-width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
  }

  .answerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 30rem;
  }

  .botContainer {
    width: 30rem;
    /* position: fixed; */
  }

  #playerWinner {
    height: 15rem;
    width: 15rem;
  }

  #winnerModal {
    width: 30rem;
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 0.9) 0%,
      rgba(148, 187, 233, 0.623) 100%
    );
  }

  .winnerScreen {
    top: 1rem;
    width: 90%;
    height: 80%;
    padding: 0px;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
  }

  .winnerContent > h6 {
    font-size: 2.5rem;
  }

  .winnerContent > p {
    font-size: 2.8rem;
  }
}

#userInput,
#inputField {
  height: 2.8rem;
}

.botWrapper img {
  width: 8rem;
  height: 8rem;
}

.botTextWrapper p {
  font-size: 0.7rem;
  letter-spacing: 1%;
}
