body {
  margin: 0;
  box-sizing: border-box;
}
.gameMasterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.gmItem {
  /* background-color: gray; */
  height: 15vh;
  width: 25vw;
  margin: 0 0.3rem;
}
.speechBubbleWrapper {
  display: flex;
}
.gameMaster {
  align-self: center;
  background-image: url("../assets/imgs/gamemaster.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vw;
  height: 20vh;
}
.bubble {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubble > p {
  text-align: center;
  vertical-align: middle;
  position: absolute;
}
.bubbleImage {
  max-width: 110%;
  max-height: 110%;
}

/* Modal for rules */
.rules {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  backdrop-filter: blur(0.3rem);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px; /* CHANGE VALUES*/
  font-weight: bold;
}
.rulesContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.inputWrapper {
    display: flex;
    background-color: khaki;
    width: 100%;
    height: 2rem;
    justify-content: center;
}
.inputWrapper > input {
    width: 15rem;
}