* {
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}
.gameMasterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.gmItem {
  /* background-color: gray; */
  height: 15vh;
  width: 25vw;
  margin: 0 0.3rem;
}
.speechBubbleWrapper {
  display: flex;
}
.gameMaster {
  align-self: center;
  background-image: url("../assets/imgs/gamemaster.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vw;
  height: 20vh;
}
.bubble {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubble > p {
  text-align: center;
  vertical-align: middle;
  position: absolute;
}
.bubbleImage {
  max-width: 110%;
  max-height: 110%;
}

/* Modal for rules */
.rules {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 10%;
  top: 1rem;
  width: 80%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background: linear-gradient(
    180deg,
    rgba(212, 206, 220, 0.95) 0%,
    rgba(23, 38, 77, 0.95) 100%
  );
  backdrop-filter: blur(0.5rem);
  opacity: 0.9;

  position: absolute;
  border-radius: 4rem;
}
.close {
  color: rgb(61, 60, 60);
  float: right;
  font-size: 28px; /* CHANGE VALUES*/
  font-weight: bold;
}
.rulesContent {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  color: white;
}

.ruleTitle {
  font-size: 1.1rem;
}

.inputWrapper {
  display: flex;
  background-color: khaki;
  width: 100%;
  height: 2rem;
  justify-content: center;
}
.inputWrapper > input {
  width: 15rem;
}

/* REUSABLE CLASSES */

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}
