* {
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  /* background: linear-gradient(180deg, #FFFFFF 0%, #9B85AD 100%) */
}

h1,
h2,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

p {
  font-size: 0.9rem;
  letter-spacing: 2%;
}

.dnone {
  display: none;
}

/* text inside bubbles */

#textTL,
#textTR {
  padding-bottom: 1.5rem;
  font-size: 1rem;
  letter-spacing: 6%;
  width: 8rem;
  color: white;
}

#textBL,
#textBR {
  padding-top: 1rem;
  font-size: 1rem;
  letter-spacing: 6%;
  width: 8rem;
  color: white;
}

/* talk bubbles  */

#bubbleTR {
  background-image: url("../assets/imgs/bubbleTR.png");
  height: 8rem;
  width: 12rem;
}

#bubbleTL {
  background-image: url("../assets/imgs/bubbleTL.png");
  height: 8rem;
  width: 12rem;
}

#bubbleBR {
  background-image: url("../assets/imgs/bubbleBR.png");
  height: 8rem;
  width: 12rem;
}

#bubbleBL {
  background-image: url("../assets/imgs/bubbleBL.png");
  height: 8rem;
  width: 12rem;
}

/* eventuell styling till knappar  */

/* #bubbleTR-button {
  background-image: url("../assets/imgs/bubbleTR-button.png");
  height: 8rem;
  width: 12rem;
}

#bubbleTL-button {
  background-image: url("../assets/imgs/bubbleTL-button.png");
  height: 8rem;
  width: 12rem;
}

#bubbleBR-button {
  background-image: url("../assets/imgs/bubbleBR-button.png");
  height: 8rem;
  width: 12rem;
}

#bubbleBL-button {
  background-image: url("../assets/imgs/bubbleBL-button.png");
  height: 8rem;
  width: 12rem;
} */

lottie-player {
  width: 200px;
  height: 200px;
}

.welcomeScreenBG {
  background-color: #ffffff;
  transition: all 3000ms;
}
.gameMasterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  opacity: 0; /* to make it fade in at welcomescreen*/
  margin-bottom: 3rem;
}

.gmItem {
  border-style: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.speechBubbleWrapper {
  display: flex;
  height: 5rem;
}

.gameMaster {
  align-self: center;
  width: 12rem;
  height: 10rem;
}

.bubble {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;

  width: 8rem;
  height: 6rem;
}

.bubble > p {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  font-size: 0.5rem;
  font-weight: 600;
  max-width: 4rem;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.bubbleImage {
  max-width: 110%;
  max-height: 110%;
}

.botContainer {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  height: 10rem;
}

/* player styles */
#playerBolt:hover,#playerClank:hover,#playerGadget:hover{
  cursor:pointer;
}

#playerBolt,
#Bolt {
  height: 7.5rem;
  width: 7rem;
  background-image: url("../assets/imgs/playerBolt-grey.png");
  background-size: cover;
  object-fit: cover;
}
#playerClank,
#Clank {
  height: 7rem;
  width: 7rem;
  background-image: url("../assets/imgs/playerClank-grey.png");
  background-size: cover;
  object-fit: cover;
}
#playerGadget,
#Gadget {
  height: 7rem;
  width: 7rem;
  background-image: url("../assets/imgs/playerGadget-grey.png");
  background-size: cover;
  object-fit: cover;
}

#Player {
  height: 7rem;
  width: 7rem;
  background-color: black;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  height: 10rem;
}
#startGame {
  width: 5rem;
  height: 3rem;
  /* background-color: blue; */
}

/* rule modal */

#ruleModal {
  opacity: 0;
  transition: all 0.35s;
}

.rules {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  margin: 0 2.5rem 0 2.5rem;
  height: 40rem;
  top: 1rem;
  overflow: auto;
  background: linear-gradient(
    180deg,
    rgba(212, 206, 220, 0.6) 0%,
    rgba(23, 38, 77, 0.6) 100%
  );
  backdrop-filter: blur(1rem);
  transition: block 4s;
  position: fixed;
  border-radius: 4rem;
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  opacity: 1;
}

.rulesContent {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  color: white;
  text-align: center;
}

.ruleTitle {
  font-size: 1.1rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: khaki; */
  width: 100%;
  height: 1rem;
  justify-content: center;
}
.inputWrapper > input {
  width: 15rem;
}

/* high score module */

#highScoresModal {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.35s;
}

.topModalHighScore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.highScores {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  left: 10%;
  top: 1rem;
  width: 80%;
  height: 40rem;
  overflow: auto;
  background: linear-gradient(
    180deg,
    rgba(212, 206, 220, 0.6) 0%,
    rgba(23, 38, 77, 0.6) 100%
  );
  backdrop-filter: blur(1rem);
  transition: block 4s;
  position: absolute;
  border-radius: 4rem;
}

.highScoresContent {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  color: white;
  text-align: center;
}

#userInput {
  border: 3px solid #dcd6e4;
  box-sizing: border-box;
  border-radius: 270px;
  color: #8d809e;
  text-align: center;
}

#userInput:focus {
  border: 3px solid #dcd6e4;
  box-sizing: border-box;
  border-radius: 270px;
  outline: none;
}

.answerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
}

.answerBubble {
  width: 9.5rem;
  height: 4.5rem;
  background-position: center;
  /* background-color: hotpink; */
  background-image: url(../assets/imgs/thinkBubble.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;

  opacity: 1;
  transition: all 500ms;
}

.guessBtn {
  border: none;
  background: none;
  background-image: url("../assets/imgs/guessButton.png");
  width: 10rem;
  height: 4rem;
  background-size: cover;
}

.guessBtn:disabled,
.guessBtn:disabled:hover {
  filter: grayscale(100%);
}

.guessBtn:hover {
}

.cursorPointer {
  cursor: pointer;
}

.guessBtn:focus {
  outline: none;
}

#winnerModal {
  opacity: 0;
  transition: all 0.35s;
  height:90%;
  width:80%;
}

.winnerScreen {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  margin: 0 2.5rem 0 2.5rem;
  height: 90%;
  top: 1rem;
  overflow: auto;
  background: linear-gradient(
    180deg,
    rgba(212, 206, 220, 0.6) 0%,
    rgba(23, 38, 77, 0.6) 100%
  );
  backdrop-filter: blur(1rem);
  transition: block 4s;
  position: fixed;
  border-radius: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.winnerContent {
  margin: 1% auto; /* 1% from the top and centered */

  padding: 1rem; 
  width: 90%; /* Could be more or less, depending on screen size */
  height: 90%;
  color: white;
  text-align: center;
  display:flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.winnerContent > p {
  font-size: 2rem;
  margin:0;
  padding: 0;
}

.winnerContent > h6 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

 #winner {
   display:none;
   height: 15rem;
 }


#playerWinner {
  height: 10rem;
  width: 10rem;
  background-color: black;
  margin:1rem;
  display: none;
}
/* REUSABLE CLASSES */

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

/* Possibly reusable */
.fadeIn {
  opacity: 1;
  transition: opacity 3000ms;
}
